Search

<form method='get'>
    <select id="search_type" name="search_type" required>
        <option value="">--Please choose an option--</option>
        <option value="simple">Simple search</option>
        <option value="regex">Advanced search with regular expressions</option>
    </select>
    <input id='search_query' name='search_query' type='text' placeholder='Your search...' required/>
</form>

{% for item in posts %}
    {{item.id}}
    {{item.title}}
    {{item.authors}}
    {{item.subjects}}
    {{item.bookshelves}}
    {{item.languages}}
    {{item.copyright}}
    {{item.content_url}}
    {{item.download_count}}
 <br>
{% endfor %}